@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "../../ui/src/styles/globals.css";
@source "../../ui/src";

body {
  @apply m-0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --preview-background: oklch(0.98 0.005 264.531);
  --color-checker-bg: #f8f9fa;
  --color-checker: #e9ecef;
  --invalid: theme(--color-red-400);
}

.dark {
  --preview-background: oklch(0.18 0.025 264.665);
  --color-checker-bg: #212529;
  --color-checker: #1a1e22;
}

@theme inline {
  --color-checker-bg: var(--color-checker-bg);
  --color-checker: var(--color-checker);
  --color-invalid: var(--invalid);
}

@layer utilities {
  .checkered {
    background-color: var(--color-checker-bg);
    background-image:
      linear-gradient(45deg, var(--color-checker) 25%, transparent 25%),
      linear-gradient(-45deg, var(--color-checker) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--color-checker) 75%),
      linear-gradient(-45deg, transparent 75%, var(--color-checker) 75%);
    background-size: 32px 32px;
    background-position:
      0 0,
      0 16px,
      16px -16px,
      -16px 0px;
  }
}
