BETTER_AUTH_URL=http://localhost:3274
BETTER_AUTH_SECRET=<randomstring>
SITE_URL=http://localhost:3000
SYNC_SECRET=<randomstring>
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPEN_ROUTER_API_KEY=
